.card_product {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 400px;
  max-width: 500px;

  padding: 12px;
  gap: 20px;

  & .product_title_link:hover {
    text-decoration: underline;
  }

  & .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & * {
      margin: 0;
    }

    & h3 {
      font-weight: bold;
    }
  }
}
