.container_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 20px;
    width: 100%;

    & .title{
        margin: 0;
    }
    & .subtitle{
        font-weight: bold;
    }

    @media (max-width: 720px) {
        padding-inline: 12px;
    }
}